qal/sql/SQL.xsd

<?xml version="1.0" ?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://www.optimalbpm.se/XMLschema/DAL/SQL" xmlns="http://www.optimalbpm.se/XMLschema/DAL/SQL" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:simpleType name="datatypes">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="(integer|string|string(\(.*\))|serial|timestamp)"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="db_types">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="MySQL"/>
      <xsd:enumeration value="PostgreSQL"/>
      <xsd:enumeration value="Oracle"/>
      <xsd:enumeration value="DB2"/>
      <xsd:enumeration value="SQLserver"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="and_or">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="AND"/>
      <xsd:enumeration value="OR"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="index_types">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="UNIQUE"/>
      <xsd:enumeration value="CLUSTERED"/>
      <xsd:enumeration value="NONCLUSTERED"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="constraint_types">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="NOT NULL"/>
      <xsd:enumeration value="UNIQUE"/>
      <xsd:enumeration value="PRIMARY KEY"/>
      <xsd:enumeration value="FOREIGN KEY"/>
      <xsd:enumeration value="CHECK"/>
      <xsd:enumeration value="DEFAULT"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="set_operator">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="UNION"/>
      <xsd:enumeration value="INTERSECT"/>
      <xsd:enumeration value="DIFFERENCE"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="data_source">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="FlatfileDataset"/>
      <xsd:enumeration value="XpathDataset"/>
      <xsd:enumeration value="MatrixDataset"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="csv_dialects">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="excel-tab"/>
      <xsd:enumeration value="excel"/>
      <xsd:enumeration value="unix"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="statement">
    <xsd:choice>
      <xsd:element name="VerbCreateTable" type="VerbCreateTable"/>
      <xsd:element name="VerbCreateIndex" type="VerbCreateIndex"/>
      <xsd:element name="VerbSelect" type="VerbSelect"/>
      <xsd:element name="VerbCustom" type="VerbCustom"/>
      <xsd:element name="VerbInsert" type="VerbInsert"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="condition_part">
    <xsd:choice>
      <xsd:element name="ParameterConditions" type="ParameterConditions"/>
      <xsd:element name="ParameterCondition" type="ParameterCondition"/>
      <xsd:element name="ParameterExpression" type="ParameterExpression"/>
      <xsd:element name="VerbSelect" type="VerbSelect"/>
      <xsd:element name="ParameterExpression" type="ParameterExpression"/>
      <xsd:element name="ParameterString" type="ParameterString"/>
      <xsd:element name="ParameterNumeric" type="ParameterNumeric"/>
      <xsd:element name="ParameterIdentifier" type="ParameterIdentifier"/>
      <xsd:element name="ParameterCast" type="ParameterCast"/>
      <xsd:element name="ParameterFunction" type="ParameterFunction"/>
      <xsd:element name="ParameterIn" type="ParameterIn"/>
      <xsd:element name="ParameterDataset" type="ParameterDataset"/>
      <xsd:element name="ParameterCase" type="ParameterCase"/>
      <xsd:element name="ParameterSet" type="ParameterSet"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="tabular_expression_item">
    <xsd:choice>
      <xsd:element name="VerbSelect" type="VerbSelect"/>
      <xsd:element name="ParameterDataset" type="ParameterDataset"/>
      <xsd:element name="ParameterSet" type="ParameterSet"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="Array_ParameterString">
    <xsd:choice>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ParameterString" type="ParameterString"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="Array_ParameterConstraint">
    <xsd:choice>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ParameterConstraint" type="ParameterConstraint"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="Array_ParameterColumndefinition">
    <xsd:choice>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ParameterColumndefinition" type="ParameterColumndefinition"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="Array_ParameterSource">
    <xsd:choice>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ParameterSource" type="ParameterSource"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="Array_ParameterWhen">
    <xsd:choice>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ParameterWhen" type="ParameterWhen"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="Array_ParameterIdentifier">
    <xsd:choice>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ParameterIdentifier" type="ParameterIdentifier"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="Array_Statement">
    <xsd:choice>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="statement" type="statement"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="Array_ParameterOrderByItem">
    <xsd:choice>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ParameterOrderByItem" type="ParameterOrderByItem"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="Array_ParameterCondition">
    <xsd:choice>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ParameterCondition" type="ParameterCondition"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="Array_ParameterField">
    <xsd:choice>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ParameterField" type="ParameterField"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="Array_ParameterAssignment">
    <xsd:choice>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ParameterAssignment" type="ParameterAssignment"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="Array_expression_item">
    <xsd:choice>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="VerbSelect" type="VerbSelect"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ParameterExpression" type="ParameterExpression"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ParameterString" type="ParameterString"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ParameterNumeric" type="ParameterNumeric"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ParameterIdentifier" type="ParameterIdentifier"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ParameterCast" type="ParameterCast"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ParameterFunction" type="ParameterFunction"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ParameterIn" type="ParameterIn"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ParameterDataset" type="ParameterDataset"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ParameterCase" type="ParameterCase"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ParameterSet" type="ParameterSet"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="Array_tabular_expression_item">
    <xsd:choice>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="VerbSelect" type="VerbSelect"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ParameterDataset" type="ParameterDataset"/>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="ParameterSet" type="ParameterSet"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="Array_list">
    <xsd:choice>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="*" type="*"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="ParameterAssignment">
    <xsd:all>
      <xsd:element minOccurs="0" name="right" type="condition_part"/>
      <xsd:element minOccurs="0" name="left" type="condition_part"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ParameterBase">
    <xsd:all/>
  </xsd:complexType>
  <xsd:complexType name="ParameterParameter">
    <xsd:all>
      <xsd:element minOccurs="0" name="datatype" type="datatypes"/>
      <xsd:element minOccurs="0" name="operator" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ParameterCondition">
    <xsd:all>
      <xsd:element minOccurs="0" name="right" type="condition_part"/>
      <xsd:element minOccurs="0" name="operator" type="xsd:string"/>
      <xsd:element minOccurs="0" name="left" type="condition_part"/>
      <xsd:element minOccurs="0" name="and_or" type="and_or"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ParameterString">
    <xsd:all>
      <xsd:element minOccurs="0" name="string_value" type="xsd:string"/>
      <xsd:element minOccurs="0" name="escape_character" type="xsd:string"/>
      <xsd:element minOccurs="0" name="operator" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ParameterFunction">
    <xsd:all>
      <xsd:element minOccurs="0" name="name" type="xsd:string"/>
      <xsd:element minOccurs="0" name="parameters" type="xsd:string"/>
      <xsd:element minOccurs="0" name="operator" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ParameterIn">
    <xsd:all>
      <xsd:element minOccurs="0" name="in_values" type="in_types"/>
      <xsd:element minOccurs="0" name="operator" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ParameterWhen">
    <xsd:all>
      <xsd:element minOccurs="0" name="result" type="Array_expression_item"/>
      <xsd:element minOccurs="0" name="conditions" type="Array_ParameterCondition"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ParameterDDL">
    <xsd:all/>
  </xsd:complexType>
  <xsd:complexType name="ParameterField">
    <xsd:all>
      <xsd:element minOccurs="0" name="alias" type="xsd:string"/>
      <xsd:element minOccurs="0" name="expression" type="Array_expression_item"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ParameterConstraint">
    <xsd:all>
      <xsd:element minOccurs="0" name="references" type="Array_ParameterIdentifier"/>
      <xsd:element minOccurs="0" name="constraint_type" type="constraint_types"/>
      <xsd:element minOccurs="0" name="checkconditions" type="Array_ParameterCondition"/>
      <xsd:element minOccurs="0" name="name" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ParameterExpression">
    <xsd:all>
      <xsd:element minOccurs="0" name="expressionitems" type="Array_expression_item"/>
      <xsd:element minOccurs="0" name="operator" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ParameterConditions">
    <xsd:all/>
  </xsd:complexType>
  <xsd:complexType name="ParameterCast">
    <xsd:all>
      <xsd:element minOccurs="0" name="datatype" type="datatypes"/>
      <xsd:element minOccurs="0" name="expression" type="Array_expression_item"/>
      <xsd:element minOccurs="0" name="operator" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ParameterSource">
    <xsd:all>
      <xsd:element minOccurs="0" name="conditions" type="Array_ParameterCondition"/>
      <xsd:element minOccurs="0" name="expression" type="Array_expression_item"/>
      <xsd:element minOccurs="0" name="alias" type="xsd:string"/>
      <xsd:element minOccurs="0" name="join_type" type="join_type"/>
      <xsd:element minOccurs="0" name="resource_uuid" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ParameterSet">
    <xsd:all>
      <xsd:element minOccurs="0" name="subsets" type="Array_tabular_expression_item"/>
      <xsd:element minOccurs="0" name="set_operator" type="set_operator"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ParameterCase">
    <xsd:all>
      <xsd:element minOccurs="0" name="when_statements" type="Array_ParameterWhen"/>
      <xsd:element minOccurs="0" name="else_statement" type="Array_expression_item"/>
      <xsd:element minOccurs="0" name="operator" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ParameterColumndefinition">
    <xsd:all>
      <xsd:element minOccurs="0" name="notnull" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="default" type="xsd:string"/>
      <xsd:element minOccurs="0" name="datatype" type="datatypes"/>
      <xsd:element minOccurs="0" name="name" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ParameterOrderByItem">
    <xsd:all>
      <xsd:element minOccurs="0" name="direction" type="xsd:string"/>
      <xsd:element minOccurs="0" name="expressionitems" type="Array_expression_item"/>
      <xsd:element minOccurs="0" name="operator" type="xsd:string"/>
      <xsd:element minOccurs="0" name="operator" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ParameterRemotable">
    <xsd:all>
      <xsd:element minOccurs="0" name="resource_uuid" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ParameterIdentifier">
    <xsd:all>
      <xsd:element minOccurs="0" name="identifier" type="xsd:string"/>
      <xsd:element minOccurs="0" name="prefix" type="xsd:string"/>
      <xsd:element minOccurs="0" name="operator" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ParameterDataset">
    <xsd:all>
      <xsd:element minOccurs="0" name="data_source" type="data_source_types"/>
      <xsd:element minOccurs="0" name="operator" type="xsd:string"/>
      <xsd:element minOccurs="0" name="resource_uuid" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ParameterNumeric">
    <xsd:all>
      <xsd:element minOccurs="0" name="numeric_value" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="operator" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ParameterExpressionItem">
    <xsd:all>
      <xsd:element minOccurs="0" name="operator" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="VerbInsert">
    <xsd:all>
      <xsd:element minOccurs="0" name="column_identifiers" type="Array_ParameterIdentifier"/>
      <xsd:element minOccurs="0" name="destination_identifier" type="ParameterIdentifier"/>
      <xsd:element minOccurs="0" name="data" type="tabular_expression_item"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="VerbSelect">
    <xsd:all>
      <xsd:element minOccurs="0" name="sources" type="Array_ParameterSource"/>
      <xsd:element minOccurs="0" name="fields" type="Array_ParameterField"/>
      <xsd:element minOccurs="0" name="order_by" type="Array_ParameterOrderByItem"/>
      <xsd:element minOccurs="0" name="top_limit" type="xsd:integer"/>
      <xsd:element minOccurs="0" name="operator" type="xsd:string"/>
      <xsd:element minOccurs="0" name="resource_uuid" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="VerbCustom">
    <xsd:all>
      <xsd:element minOccurs="0" name="sql_sqlserver" type="xsd:string"/>
      <xsd:element minOccurs="0" name="sql_db2" type="xsd:string"/>
      <xsd:element minOccurs="0" name="sql_postgresql" type="xsd:string"/>
      <xsd:element minOccurs="0" name="sql_oracle" type="xsd:string"/>
      <xsd:element minOccurs="0" name="sql_mysql" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="VerbDropTable">
    <xsd:all>
      <xsd:element minOccurs="0" name="name" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="VerbDelete">
    <xsd:all>
      <xsd:element minOccurs="0" name="sources" type="Array_ParameterSource"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="VerbCreateTable">
    <xsd:all>
      <xsd:element minOccurs="0" name="columns" type="Array_ParameterColumndefinition"/>
      <xsd:element minOccurs="0" name="constraints" type="Array_ParameterConstraint"/>
      <xsd:element minOccurs="0" name="name" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="VerbCreateIndex">
    <xsd:all>
      <xsd:element minOccurs="0" name="index_type" type="index_types"/>
      <xsd:element minOccurs="0" name="columnnames" type="Array_string"/>
      <xsd:element minOccurs="0" name="name" type="xsd:string"/>
      <xsd:element minOccurs="0" name="tablename" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="VerbUpdate">
    <xsd:all>
      <xsd:element minOccurs="0" name="assignments" type="Array_ParameterAssignment"/>
      <xsd:element minOccurs="0" name="conditions" type="Array_ParameterCondition"/>
      <xsd:element minOccurs="0" name="table_identifier" type="ParameterIdentifier"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="statement" type="statement"/>
</xsd:schema>

