qal/sql/SQL.xsd

<?xml version="1.0" ?>
<xsd:schema elementFormDefault="qualified" targetNamespace="http://www.optimalbpm.se/XMLschema/DAL/SQL" xmlns="http://www.optimalbpm.se/XMLschema/DAL/SQL" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <xsd:simpleType name="datatypes">
    <xsd:restriction base="xsd:string">
      <xsd:pattern value="(integer|string|string(\(.*\))|serial|timestamp)"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="db_types">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="MySQL"/>
      <xsd:enumeration value="PostgreSQL"/>
      <xsd:enumeration value="Oracle"/>
      <xsd:enumeration value="DB2"/>
      <xsd:enumeration value="SQLserver"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="and_or">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="AND"/>
      <xsd:enumeration value="OR"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="in_types">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="VerbSelect"/>
      <xsd:enumeration value="ParameterString"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="quoting">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="QUOTE_MINIMAL"/>
      <xsd:enumeration value="QUOTE_ALL"/>
      <xsd:enumeration value="QUOTE_NONE"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="xpath_data_format">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="XML"/>
      <xsd:enumeration value="XHTML"/>
      <xsd:enumeration value="HTML"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="index_types">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="UNIQUE"/>
      <xsd:enumeration value="CLUSTERED"/>
      <xsd:enumeration value="NONCLUSTERED"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="constraint_types">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="NOT NULL"/>
      <xsd:enumeration value="UNIQUE"/>
      <xsd:enumeration value="PRIMARY KEY"/>
      <xsd:enumeration value="FOREIGN KEY"/>
      <xsd:enumeration value="CHECK"/>
      <xsd:enumeration value="DEFAULT"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="set_operator">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="UNION"/>
      <xsd:enumeration value="INTERSECT"/>
      <xsd:enumeration value="DIFFERENCE"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="csv_dialects">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="excel-tab"/>
      <xsd:enumeration value="excel"/>
      <xsd:enumeration value="unix"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:simpleType name="join_types">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value=""/>
      <xsd:enumeration value="INNER"/>
      <xsd:enumeration value="LEFT OUTER"/>
      <xsd:enumeration value="RIGHT OUTER"/>
      <xsd:enumeration value="FULL OUTER"/>
      <xsd:enumeration value="CROSS"/>
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="statement">
    <xsd:choice>
      <xsd:element name="VerbCreateTable" type="VerbCreateTable"/>
      <xsd:element name="VerbCreateIndex" type="VerbCreateIndex"/>
      <xsd:element name="VerbSelect" type="VerbSelect"/>
      <xsd:element name="VerbCustom" type="VerbCustom"/>
      <xsd:element name="VerbInsert" type="VerbInsert"/>
      <xsd:element name="VerbDelete" type="VerbDelete"/>
      <xsd:element name="VerbUpdate" type="VerbUpdate"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="condition_part">
    <xsd:choice>
      <xsd:element name="ParameterConditions" type="ParameterConditions"/>
      <xsd:element name="ParameterCondition" type="ParameterCondition"/>
      <xsd:element name="VerbSelect" type="VerbSelect"/>
      <xsd:element name="ParameterExpression" type="ParameterExpression"/>
      <xsd:element name="ParameterString" type="ParameterString"/>
      <xsd:element name="ParameterNumeric" type="ParameterNumeric"/>
      <xsd:element name="ParameterIdentifier" type="ParameterIdentifier"/>
      <xsd:element name="ParameterCast" type="ParameterCast"/>
      <xsd:element name="ParameterFunction" type="ParameterFunction"/>
      <xsd:element name="ParameterIn" type="ParameterIn"/>
      <xsd:element name="ParameterDataset" type="ParameterDataset"/>
      <xsd:element name="ParameterCase" type="ParameterCase"/>
      <xsd:element name="ParameterSet" type="ParameterSet"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="data_source_types">
    <xsd:choice>
      <xsd:element name="FlatfileDataset" type="FlatfileDataset"/>
      <xsd:element name="XpathDataset" type="XpathDataset"/>
      <xsd:element name="MatrixDataset" type="MatrixDataset"/>
      <xsd:element name="SpreadsheetDataset" type="SpreadsheetDataset"/>
      <xsd:element name="RDBMSDataset" type="RDBMSDataset"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="TabularExpressionItem">
    <xsd:choice>
      <xsd:element name="VerbSelect" type="VerbSelect"/>
      <xsd:element name="ParameterDataset" type="ParameterDataset"/>
      <xsd:element name="ParameterSet" type="ParameterSet"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="field_types">
    <xsd:choice>
      <xsd:element name="integer" type="integer"/>
      <xsd:element name="string" type="string"/>
      <xsd:element name="string(255)" type="string(255)"/>
      <xsd:element name="string(3000)" type="string(3000)"/>
      <xsd:element name="float" type="float"/>
      <xsd:element name="serial" type="serial"/>
      <xsd:element name="timestamp" type="timestamp"/>
      <xsd:element name="boolean" type="boolean"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="ArrayString">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="str" type="xsd:string"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="ArrayParameterString">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="ParameterString" type="ParameterString"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="ArrayParameterConstraint">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="ParameterConstraint" type="ParameterConstraint"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="ArrayParameterColumndefinition">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="ParameterColumndefinition" type="ParameterColumndefinition"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="ArrayParameterSource">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="ParameterSource" type="ParameterSource"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="ArrayParameterWhen">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="ParameterWhen" type="ParameterWhen"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="ArrayParameterIdentifier">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="ParameterIdentifier" type="ParameterIdentifier"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="ArrayStatement">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="statement" type="statement"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="ArrayParameterOrderByItem">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="ParameterOrderByItem" type="ParameterOrderByItem"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="ArrayParameterCondition">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="ParameterCondition" type="ParameterCondition"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="ArrayParameterField">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="ParameterField" type="ParameterField"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="ArrayParameterAssignment">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="ParameterAssignment" type="ParameterAssignment"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="ArrayExpressionItem">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="VerbSelect" type="VerbSelect"/>
      <xsd:element name="ParameterExpression" type="ParameterExpression"/>
      <xsd:element name="ParameterString" type="ParameterString"/>
      <xsd:element name="ParameterNumeric" type="ParameterNumeric"/>
      <xsd:element name="ParameterIdentifier" type="ParameterIdentifier"/>
      <xsd:element name="ParameterCast" type="ParameterCast"/>
      <xsd:element name="ParameterFunction" type="ParameterFunction"/>
      <xsd:element name="ParameterIn" type="ParameterIn"/>
      <xsd:element name="ParameterDataset" type="ParameterDataset"/>
      <xsd:element name="ParameterCase" type="ParameterCase"/>
      <xsd:element name="ParameterSet" type="ParameterSet"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="ArrayTabularExpressionItem">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="VerbSelect" type="VerbSelect"/>
      <xsd:element name="ParameterDataset" type="ParameterDataset"/>
      <xsd:element name="ParameterSet" type="ParameterSet"/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="ArrayList">
    <xsd:choice maxOccurs="unbounded" minOccurs="0">
      <xsd:element name="str" type=""/>
    </xsd:choice>
  </xsd:complexType>
  <xsd:complexType name="ParameterCondition">
    <xsd:all>
      <xsd:element minOccurs="0" name="and_or" type="and_or"/>
      <xsd:element minOccurs="0" name="operator" type="xsd:string"/>
      <xsd:element minOccurs="0" name="right" type="condition_part"/>
      <xsd:element minOccurs="0" name="left" type="condition_part"/>
      <xsd:element minOccurs="0" name="row_separator" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ParameterIn">
    <xsd:all>
      <xsd:element minOccurs="0" name="in_values" type="in_types"/>
      <xsd:element minOccurs="0" name="operator" type="xsd:string"/>
      <xsd:element minOccurs="0" name="row_separator" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ParameterConstraint">
    <xsd:all>
      <xsd:element minOccurs="0" name="references" type="ArrayParameterIdentifier"/>
      <xsd:element minOccurs="0" name="name" type="xsd:string"/>
      <xsd:element minOccurs="0" name="constraint_type" type="constraint_types"/>
      <xsd:element minOccurs="0" name="checkconditions" type="ArrayParameterCondition"/>
      <xsd:element minOccurs="0" name="row_separator" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ParameterCase">
    <xsd:all>
      <xsd:element minOccurs="0" name="when_statements" type="ArrayParameterWhen"/>
      <xsd:element minOccurs="0" name="else_statement" type="ArrayExpressionItem"/>
      <xsd:element minOccurs="0" name="operator" type="xsd:string"/>
      <xsd:element minOccurs="0" name="row_separator" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ParameterFunction">
    <xsd:all>
      <xsd:element minOccurs="0" name="parameters" type="ArrayExpressionItem"/>
      <xsd:element minOccurs="0" name="name" type="xsd:string"/>
      <xsd:element minOccurs="0" name="operator" type="xsd:string"/>
      <xsd:element minOccurs="0" name="row_separator" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ParameterSource">
    <xsd:all>
      <xsd:element minOccurs="0" name="alias" type="xsd:string"/>
      <xsd:element minOccurs="0" name="conditions" type="ArrayParameterCondition"/>
      <xsd:element minOccurs="0" name="join_type" type="join_types"/>
      <xsd:element minOccurs="0" name="expression" type="ArrayExpressionItem"/>
      <xsd:element minOccurs="0" name="row_separator" type="xsd:string"/>
      <xsd:element minOccurs="0" name="resource_uuid" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ParameterExpression">
    <xsd:all>
      <xsd:element minOccurs="0" name="expressionitems" type="ArrayExpressionItem"/>
      <xsd:element minOccurs="0" name="operator" type="xsd:string"/>
      <xsd:element minOccurs="0" name="row_separator" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ParameterCast">
    <xsd:all>
      <xsd:element minOccurs="0" name="datatype" type="datatypes"/>
      <xsd:element minOccurs="0" name="expression" type="ArrayExpressionItem"/>
      <xsd:element minOccurs="0" name="operator" type="xsd:string"/>
      <xsd:element minOccurs="0" name="row_separator" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ParameterOrderByItem">
    <xsd:all>
      <xsd:element minOccurs="0" name="direction" type="xsd:string"/>
      <xsd:element minOccurs="0" name="expressionitems" type="ArrayExpressionItem"/>
      <xsd:element minOccurs="0" name="operator" type="xsd:string"/>
      <xsd:element minOccurs="0" name="row_separator" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ParameterDDL">
    <xsd:all>
      <xsd:element minOccurs="0" name="row_separator" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ParameterWhen">
    <xsd:all>
      <xsd:element minOccurs="0" name="result" type="ArrayExpressionItem"/>
      <xsd:element minOccurs="0" name="conditions" type="ArrayParameterCondition"/>
      <xsd:element minOccurs="0" name="row_separator" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ParameterSet">
    <xsd:all>
      <xsd:element minOccurs="0" name="subsets" type="ArrayTabularExpressionItem"/>
      <xsd:element minOccurs="0" name="set_operator" type="set_operator"/>
      <xsd:element minOccurs="0" name="row_separator" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ParameterIdentifier">
    <xsd:all>
      <xsd:element minOccurs="0" name="identifier" type="xsd:string"/>
      <xsd:element minOccurs="0" name="prefix" type="xsd:string"/>
      <xsd:element minOccurs="0" name="operator" type="xsd:string"/>
      <xsd:element minOccurs="0" name="row_separator" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ParameterDataset">
    <xsd:all>
      <xsd:element minOccurs="0" name="data_source" type="data_source_types"/>
      <xsd:element minOccurs="0" name="operator" type="xsd:string"/>
      <xsd:element minOccurs="0" name="row_separator" type="xsd:string"/>
      <xsd:element minOccurs="0" name="resource_uuid" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ParameterParameter">
    <xsd:all>
      <xsd:element minOccurs="0" name="datatype" type="datatypes"/>
      <xsd:element minOccurs="0" name="operator" type="xsd:string"/>
      <xsd:element minOccurs="0" name="row_separator" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ParameterRemotable">
    <xsd:all>
      <xsd:element minOccurs="0" name="resource_uuid" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ParameterBase">
    <xsd:all>
      <xsd:element minOccurs="0" name="row_separator" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ParameterAssignment">
    <xsd:all>
      <xsd:element minOccurs="0" name="right" type="condition_part"/>
      <xsd:element minOccurs="0" name="left" type="condition_part"/>
      <xsd:element minOccurs="0" name="row_separator" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ParameterNumeric">
    <xsd:all>
      <xsd:element minOccurs="0" name="numeric_value" type="xsd:decimal"/>
      <xsd:element minOccurs="0" name="operator" type="xsd:string"/>
      <xsd:element minOccurs="0" name="row_separator" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ParameterString">
    <xsd:all>
      <xsd:element minOccurs="0" name="escape_character" type="xsd:string"/>
      <xsd:element minOccurs="0" name="string_value" type="xsd:string"/>
      <xsd:element minOccurs="0" name="operator" type="xsd:string"/>
      <xsd:element minOccurs="0" name="row_separator" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ParameterColumndefinition">
    <xsd:all>
      <xsd:element minOccurs="0" name="datatype" type="datatypes"/>
      <xsd:element minOccurs="0" name="notnull" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="name" type="xsd:string"/>
      <xsd:element minOccurs="0" name="default" type="xsd:string"/>
      <xsd:element minOccurs="0" name="row_separator" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ParameterConditions">
    <xsd:all/>
  </xsd:complexType>
  <xsd:complexType name="ParameterField">
    <xsd:all>
      <xsd:element minOccurs="0" name="expression" type="ArrayExpressionItem"/>
      <xsd:element minOccurs="0" name="alias" type="xsd:string"/>
      <xsd:element minOccurs="0" name="row_separator" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="ParameterExpressionItem">
    <xsd:all>
      <xsd:element minOccurs="0" name="operator" type="xsd:string"/>
      <xsd:element minOccurs="0" name="row_separator" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="VerbInsert">
    <xsd:all>
      <xsd:element minOccurs="0" name="data" type="TabularExpressionItem"/>
      <xsd:element minOccurs="0" name="destination_identifier" type="ParameterIdentifier"/>
      <xsd:element minOccurs="0" name="column_identifiers" type="ArrayParameterIdentifier"/>
      <xsd:element minOccurs="0" name="row_separator" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="VerbUpdate">
    <xsd:all>
      <xsd:element minOccurs="0" name="conditions" type="ArrayParameterCondition"/>
      <xsd:element minOccurs="0" name="table_identifier" type="ParameterIdentifier"/>
      <xsd:element minOccurs="0" name="assignments" type="ArrayParameterAssignment"/>
      <xsd:element minOccurs="0" name="row_separator" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="VerbSelect">
    <xsd:all>
      <xsd:element minOccurs="0" name="order_by" type="ArrayParameterOrderByItem"/>
      <xsd:element minOccurs="0" name="sources" type="ArrayParameterSource"/>
      <xsd:element minOccurs="0" name="fields" type="ArrayParameterField"/>
      <xsd:element minOccurs="0" name="top_limit" type="xsd:integer"/>
      <xsd:element minOccurs="0" name="operator" type="xsd:string"/>
      <xsd:element minOccurs="0" name="row_separator" type="xsd:string"/>
      <xsd:element minOccurs="0" name="resource_uuid" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="VerbCreateIndex">
    <xsd:all>
      <xsd:element minOccurs="0" name="tablename" type="xsd:string"/>
      <xsd:element minOccurs="0" name="name" type="xsd:string"/>
      <xsd:element minOccurs="0" name="column_names" type="ArrayString"/>
      <xsd:element minOccurs="0" name="index_type" type="index_types"/>
      <xsd:element minOccurs="0" name="row_separator" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="VerbCreateTable">
    <xsd:all>
      <xsd:element minOccurs="0" name="constraints" type="ArrayParameterConstraint"/>
      <xsd:element minOccurs="0" name="name" type="xsd:string"/>
      <xsd:element minOccurs="0" name="columns" type="ArrayParameterColumndefinition"/>
      <xsd:element minOccurs="0" name="row_separator" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="VerbDelete">
    <xsd:all>
      <xsd:element minOccurs="0" name="sources" type="ArrayParameterSource"/>
      <xsd:element minOccurs="0" name="row_separator" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="VerbCustom">
    <xsd:all>
      <xsd:element minOccurs="0" name="sql_sqlserver" type="xsd:string"/>
      <xsd:element minOccurs="0" name="sql_db2" type="xsd:string"/>
      <xsd:element minOccurs="0" name="sql_mysql" type="xsd:string"/>
      <xsd:element minOccurs="0" name="sql_oracle" type="xsd:string"/>
      <xsd:element minOccurs="0" name="sql_postgresql" type="xsd:string"/>
      <xsd:element minOccurs="0" name="row_separator" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="VerbDropTable">
    <xsd:all>
      <xsd:element minOccurs="0" name="name" type="xsd:string"/>
      <xsd:element minOccurs="0" name="row_separator" type="xsd:string"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="FlatfileDataset">
    <xsd:all>
      <xsd:element minOccurs="0" name="has_header" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="field_names" type="ArrayString"/>
      <xsd:element minOccurs="0" name="csv_dialect" type="csv_dialects"/>
      <xsd:element minOccurs="0" name="delimiter" type="xsd:string"/>
      <xsd:element minOccurs="0" name="quoting" type="quoting"/>
      <xsd:element minOccurs="0" name="quotechar" type="xsd:string"/>
      <xsd:element minOccurs="0" name="filename" type="xsd:string"/>
      <xsd:element minOccurs="0" name="skipinitialspace" type="xsd:string"/>
      <xsd:element minOccurs="0" name="lineterminator" type="xsd:string"/>
      <xsd:element minOccurs="0" name="escapechar" type="xsd:string"/>
      <xsd:element minOccurs="0" name="field_types" type="datatypes"/>
      <xsd:element minOccurs="0" name="data_table" type="TabularExpressionItem"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="XpathDataset">
    <xsd:all>
      <xsd:element minOccurs="0" name="xpath_data_format" type="xpath_data_format"/>
      <xsd:element minOccurs="0" name="filename" type="xsd:string"/>
      <xsd:element minOccurs="0" name="field_xpaths" type="ArrayString"/>
      <xsd:element minOccurs="0" name="rows_xpath" type="xsd:string"/>
      <xsd:element minOccurs="0" name="field_names" type="ArrayString"/>
      <xsd:element minOccurs="0" name="field_types" type="datatypes"/>
      <xsd:element minOccurs="0" name="data_table" type="TabularExpressionItem"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="MatrixDataset">
    <xsd:all>
      <xsd:element minOccurs="0" name="field_names" type="ArrayString"/>
      <xsd:element minOccurs="0" name="field_types" type="datatypes"/>
      <xsd:element minOccurs="0" name="data_table" type="TabularExpressionItem"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="SpreadsheetDataset">
    <xsd:all>
      <xsd:element minOccurs="0" name="has_header" type="xsd:boolean"/>
      <xsd:element minOccurs="0" name="field_names" type="ArrayString"/>
      <xsd:element minOccurs="0" name="y_offset" type="xsd:integer"/>
      <xsd:element minOccurs="0" name="filename" type="xsd:string"/>
      <xsd:element minOccurs="0" name="x_offset" type="xsd:integer"/>
      <xsd:element minOccurs="0" name="sheet_name" type="xsd:string"/>
      <xsd:element minOccurs="0" name="field_types" type="datatypes"/>
      <xsd:element minOccurs="0" name="data_table" type="TabularExpressionItem"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:complexType name="RDBMSDataset">
    <xsd:all>
      <xsd:element minOccurs="0" name="query" type="xsd:string"/>
      <xsd:element minOccurs="0" name="table_name" type="xsd:string"/>
      <xsd:element minOccurs="0" name="field_names" type="ArrayString"/>
      <xsd:element minOccurs="0" name="field_types" type="datatypes"/>
      <xsd:element minOccurs="0" name="data_table" type="TabularExpressionItem"/>
    </xsd:all>
  </xsd:complexType>
  <xsd:element name="statement" type="statement"/>
</xsd:schema>

